<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="newpoc" transaction-type="RESOURCE_LOCAL">

        <class>com.company.newpoc.entity.Employee</class>
        <class>com.company.newpoc.entity.AuditLog</class>
    </persistence-unit>
</persistence>
